.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
  }

 .header{
    display: flex;
    justify-content: space-around;
    background: rgb(227, 66, 52) ;
    max-width: 100%;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: white;
 } 

 .content{
    max-width: 500px;
    max-height: 100%;
    overflow-y: scroll; 
    color: white;
    background: rgb(243, 71, 35) ; 
 }

 .content::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

 .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(243, 71, 35) ;
    border-radius:  0 0 10px 10px;

    button{
    background-color:brown;
    margin: 15px;
    color: white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    }
 }

 .modalClose{
    display: block;   
    font-size: 40px;  
    cursor: pointer;  
    color: white;
  
 }